
* {
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
}
ul{
    list-style: none;
    display: flex;
    gap: 40px;
    font-size: xx-large;
}
p{
    font-size: xx-large;
    text-align: justify;
}

a{
    text-decoration: none;
}

.lor {
    margin-top: 100px;
}