* {
    margin: 0;
    padding: 0;
}

.one {
    background-color: red;
    height: 100px;
    width: 100px;
}

.first_container {
    display: flex;
    gap: 10px;
}
.two {
    background-color: red;
    height: 100px;
    width: 300px;
}

.abc {
    margin-top: 10px;
}